@model IPCU.Models.PostConstruction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PostConstruction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProjectReferenceNumber" class="control-label"></label>
                <input asp-for="ProjectReferenceNumber" class="form-control" />
                <span asp-validation-for="ProjectReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectNameAndDescription" class="control-label"></label>
                <input asp-for="ProjectNameAndDescription" class="form-control" />
                <span asp-validation-for="ProjectNameAndDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecificSiteOfActivity" class="control-label"></label>
                <input asp-for="SpecificSiteOfActivity" class="form-control" />
                <span asp-validation-for="SpecificSiteOfActivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectStartDate" class="control-label"></label>
                <input asp-for="ProjectStartDate" class="form-control" />
                <span asp-validation-for="ProjectStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDuration" class="control-label"></label>
                <input asp-for="EstimatedDuration" class="form-control" />
                <span asp-validation-for="EstimatedDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeforeHoarding" class="control-label"></label>
                <input asp-for="BeforeHoarding" class="form-control" />
                <span asp-validation-for="BeforeHoarding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeforeHoardingDC" class="control-label"></label>
                <input asp-for="BeforeHoardingDC" class="form-control" />
                <span asp-validation-for="BeforeHoardingDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeforeHoardingDate" class="control-label"></label>
                <input asp-for="BeforeHoardingDate" class="form-control" />
                <span asp-validation-for="BeforeHoardingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityBased" class="control-label"></label>
                <input asp-for="FacilityBased" class="form-control" />
                <span asp-validation-for="FacilityBased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityBasedDC" class="control-label"></label>
                <input asp-for="FacilityBasedDC" class="form-control" />
                <span asp-validation-for="FacilityBasedDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityBasedDate" class="control-label"></label>
                <input asp-for="FacilityBasedDate" class="form-control" />
                <span asp-validation-for="FacilityBasedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfterRemoval" class="control-label"></label>
                <input asp-for="AfterRemoval" class="form-control" />
                <span asp-validation-for="AfterRemoval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfterRemovalDC" class="control-label"></label>
                <input asp-for="AfterRemovalDC" class="form-control" />
                <span asp-validation-for="AfterRemovalDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfterRemovalDate" class="control-label"></label>
                <input asp-for="AfterRemovalDate" class="form-control" />
                <span asp-validation-for="AfterRemovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereRequired" class="control-label"></label>
                <input asp-for="WhereRequired" class="form-control" />
                <span asp-validation-for="WhereRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereRequiredlDC" class="control-label"></label>
                <input asp-for="WhereRequiredlDC" class="form-control" />
                <span asp-validation-for="WhereRequiredlDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereRequiredDate" class="control-label"></label>
                <input asp-for="WhereRequiredDate" class="form-control" />
                <span asp-validation-for="WhereRequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaIs" class="control-label"></label>
                <input asp-for="AreaIs" class="form-control" />
                <span asp-validation-for="AreaIs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaIsDC" class="control-label"></label>
                <input asp-for="AreaIsDC" class="form-control" />
                <span asp-validation-for="AreaIsDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaIsDate" class="control-label"></label>
                <input asp-for="AreaIsDate" class="form-control" />
                <span asp-validation-for="AreaIsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegrityofWalls" class="control-label"></label>
                <input asp-for="IntegrityofWalls" class="form-control" />
                <span asp-validation-for="IntegrityofWalls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegrityofWallsDC" class="control-label"></label>
                <input asp-for="IntegrityofWallsDC" class="form-control" />
                <span asp-validation-for="IntegrityofWallsDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegrityofWallsDate" class="control-label"></label>
                <input asp-for="IntegrityofWallsDate" class="form-control" />
                <span asp-validation-for="IntegrityofWallsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurfaceinPatient" class="control-label"></label>
                <input asp-for="SurfaceinPatient" class="form-control" />
                <span asp-validation-for="SurfaceinPatient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurfaceinPatientDC" class="control-label"></label>
                <input asp-for="SurfaceinPatientDC" class="form-control" />
                <span asp-validation-for="SurfaceinPatientDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurfaceinPatientDate" class="control-label"></label>
                <input asp-for="SurfaceinPatientDate" class="form-control" />
                <span asp-validation-for="SurfaceinPatientDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaSurfaces" class="control-label"></label>
                <input asp-for="AreaSurfaces" class="form-control" />
                <span asp-validation-for="AreaSurfaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IfPlumbinghasbeenAffected" class="control-label"></label>
                <input asp-for="IfPlumbinghasbeenAffected" class="form-control" />
                <span asp-validation-for="IfPlumbinghasbeenAffected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IfPlumbinghasbeenAffectedDC" class="control-label"></label>
                <input asp-for="IfPlumbinghasbeenAffectedDC" class="form-control" />
                <span asp-validation-for="IfPlumbinghasbeenAffectedDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IfPlumbinghasbeenAffectedDate" class="control-label"></label>
                <input asp-for="IfPlumbinghasbeenAffectedDate" class="form-control" />
                <span asp-validation-for="IfPlumbinghasbeenAffectedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlumbingifAffected" class="control-label"></label>
                <input asp-for="PlumbingifAffected" class="form-control" />
                <span asp-validation-for="PlumbingifAffected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlumbingifAffectedDC" class="control-label"></label>
                <input asp-for="PlumbingifAffectedDC" class="form-control" />
                <span asp-validation-for="PlumbingifAffectedDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlumbingifAffectedDate" class="control-label"></label>
                <input asp-for="PlumbingifAffectedDate" class="form-control" />
                <span asp-validation-for="PlumbingifAffectedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectHandWashing" class="control-label"></label>
                <input asp-for="CorrectHandWashing" class="form-control" />
                <span asp-validation-for="CorrectHandWashing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectHandWashingDC" class="control-label"></label>
                <input asp-for="CorrectHandWashingDC" class="form-control" />
                <span asp-validation-for="CorrectHandWashingDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectHandWashingDate" class="control-label"></label>
                <input asp-for="CorrectHandWashingDate" class="form-control" />
                <span asp-validation-for="CorrectHandWashingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaucetAerators" class="control-label"></label>
                <input asp-for="FaucetAerators" class="form-control" />
                <span asp-validation-for="FaucetAerators" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaucetAeratorsDC" class="control-label"></label>
                <input asp-for="FaucetAeratorsDC" class="form-control" />
                <span asp-validation-for="FaucetAeratorsDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaucetAeratorsDate" class="control-label"></label>
                <input asp-for="FaucetAeratorsDate" class="form-control" />
                <span asp-validation-for="FaucetAeratorsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeilingTiles" class="control-label"></label>
                <input asp-for="CeilingTiles" class="form-control" />
                <span asp-validation-for="CeilingTiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeilingTilesDC" class="control-label"></label>
                <input asp-for="CeilingTilesDC" class="form-control" />
                <span asp-validation-for="CeilingTilesDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeilingTilesDate" class="control-label"></label>
                <input asp-for="CeilingTilesDate" class="form-control" />
                <span asp-validation-for="CeilingTilesDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVACSystems" class="control-label"></label>
                <input asp-for="HVACSystems" class="form-control" />
                <span asp-validation-for="HVACSystems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVACSystemsDC" class="control-label"></label>
                <input asp-for="HVACSystemsDC" class="form-control" />
                <span asp-validation-for="HVACSystemsDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVACSystemsDate" class="control-label"></label>
                <input asp-for="HVACSystemsDate" class="form-control" />
                <span asp-validation-for="HVACSystemsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectRoomPressurization" class="control-label"></label>
                <input asp-for="CorrectRoomPressurization" class="form-control" />
                <span asp-validation-for="CorrectRoomPressurization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectRoomPressurizationDC" class="control-label"></label>
                <input asp-for="CorrectRoomPressurizationDC" class="form-control" />
                <span asp-validation-for="CorrectRoomPressurizationDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectRoomPressurizationDate" class="control-label"></label>
                <input asp-for="CorrectRoomPressurizationDate" class="form-control" />
                <span asp-validation-for="CorrectRoomPressurizationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllMechanicalSpaces" class="control-label"></label>
                <input asp-for="AllMechanicalSpaces" class="form-control" />
                <span asp-validation-for="AllMechanicalSpaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllMechanicalSpacesDC" class="control-label"></label>
                <input asp-for="AllMechanicalSpacesDC" class="form-control" />
                <span asp-validation-for="AllMechanicalSpacesDC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllMechanicalSpacesDate" class="control-label"></label>
                <input asp-for="AllMechanicalSpacesDate" class="form-control" />
                <span asp-validation-for="AllMechanicalSpacesDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractorSign" class="control-label"></label>
                <input asp-for="ContractorSign" class="form-control" />
                <span asp-validation-for="ContractorSign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineeringSign" class="control-label"></label>
                <input asp-for="EngineeringSign" class="form-control" />
                <span asp-validation-for="EngineeringSign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ICPSign" class="control-label"></label>
                <input asp-for="ICPSign" class="form-control" />
                <span asp-validation-for="ICPSign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitAreaRep" class="control-label"></label>
                <input asp-for="UnitAreaRep" class="form-control" />
                <span asp-validation-for="UnitAreaRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
