@model IEnumerable<IPCU.Models.InfectionControl.Models.InfectionControlMonitoringForm>
@using IPCU.Models.InfectionControl.Models
@{
    ViewData["Title"] = "Environmental Cleaning and Disinfection";
    var allForms = ViewBag.AllForms as List<InfectionControlMonitoringForm>;
}
<h2>
    Environmental Cleaning and Disinfection
    Assessment and Monitoring Form
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Area/Unit</th>
            <th>Date and Time of Monitoring</th>
            <th>Assessed by</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AreaOrUnit</td>
                <td>@item.DateAndTimeOfMonitoring.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.AssessedBy</td>
                <td>
                    <a asp-controller="InfectionControlMonitoringForms" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>