@{
    ViewBag.Title = "Station List";
    var stations = ViewBag.Data as List<Dictionary<string, object>>;
}

<h2>Station List</h2>

@if (stations != null && stations.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Station ID</th>
                <th>Station</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in ViewBag.Data)
            {
                <tr>
                    <td>@row["StationID"]</td>
                    <td>@row["Station"]</td>
                    <td>
                        <a href="@Url.Action("ViewRooms", new { stationId = row["StationID"], station = row["Station"] })" class="btn btn-primary">View Rooms</a>
                        <a class="btn btn-primary" href="@Url.Action("Index", "EnvironmentalzControls", new {stationId = row["StationID"], station = row["Station"] })">Environmental Checklist</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>


}
else
{
    <p>No data found.</p>
}
