@model IPCU.Models.Usi

@{
    ViewData["Title"] = "Create";
}
<style>
    .indent-child {
        margin-left: 25px; /* Indents child checkboxes */
        display: block;
    }
</style>
<h1>Create</h1>

<h4>Usi</h4>
<hr />
<form asp-action="Create" method="post">
    <fieldset class="border p-3 mb-4">
        <legend class="w-auto px-2 font-weight-bold">Patient Information</legend>
        <table class="table table-bordered">
            <tr>
                <td>
                    <label asp-for="Fname"></label>
                    <input asp-for="Fname" class="form-control" />
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="Mname"></label>
                    <input asp-for="Mname" class="form-control" />
                    <span asp-validation-for="Mname" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="Lname"></label>
                    <input asp-for="Lname" class="form-control" />
                    <span asp-validation-for="Lname" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="HospitalNumber"></label>
                    <input asp-for="HospitalNumber" class="form-control" />
                    <span asp-validation-for="HospitalNumber" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="DateOfBirth"></label>
                    <input asp-for="DateOfBirth" type="date" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="Age"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="UnitWardArea"></label>
                    <input asp-for="UnitWardArea" class="form-control" />
                    <span asp-validation-for="UnitWardArea" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="MainService"></label>
                    <input asp-for="MainService" class="form-control" />
                    <span asp-validation-for="MainService" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="DateOfEvent"></label>
                    <input asp-for="DateOfEvent" type="date" class="form-control" />
                    <span asp-validation-for="DateOfEvent" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="Investigator"></label>
                    <input asp-for="Investigator" class="form-control" />
                    <span asp-validation-for="Investigator" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="DateOfAdmission"></label>
                    <input asp-for="DateOfAdmission" type="date" class="form-control" />
                    <span asp-validation-for="DateOfAdmission" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="Disposition"></label>
                    <select asp-for="Disposition" class="form-control">
                        <option value="">-- Select Disposition --</option>
                        <option>Mortality</option>
                        <option>Discharged</option>
                        <option>Still Admitted</option>
                        <option>Transferred In</option>
                        <option>Transferred Out</option>
                    </select>
                    <span asp-validation-for="Disposition" class="text-danger"></span>

                <div id="dispositionTransferDiv" style="display:none;">

                    <label asp-for="DispositionTransfer"></label>
                    <input asp-for="DispositionTransfer" class="form-control" />
                    <span asp-validation-for="DispositionTransfer" class="text-danger"></span>

                </div>
                </td>
                
            </tr>
            <tr>
               
                <td>
                    <label asp-for="DispositionDate"></label>
                    <input asp-for="DispositionDate" type="date" class="form-control" />
                    <span asp-validation-for="DispositionDate" class="text-danger"></span>
                </td>
              
                <td>
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" class="form-control">
                        <option value="">Select</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="Classification"></label>
                    <select asp-for="Classification" class="form-control">
                        <option value="">Select</option>
                        <option>Pay</option>
                        <option>Service</option>
                    </select>
                    <span asp-validation-for="Classification" class="text-danger"></span>
                </td>
                    <td>
                    <label asp-for="MDRO"></label>
                    <select asp-for="MDRO" class="form-control">
                        <option value="">Select</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <span asp-validation-for="MDRO" class="text-danger"></span>
                </td>
            </tr>         
            
        </table>
    </fieldset>


            <!-- Hidden field to ensure TypeClass is always submitted -->
            <input type="hidden" asp-for="TypeClass" value="USI" />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">At least one (1) of the following criteria:</th>
                    </tr>
                </thead>
                <tbody id="group1">
                    <tr>
                        <td>
                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input group1" type="checkbox" asp-for="PatientOrganism" />
                                Patient has organism(s) identified from fluid (not urine) or tissue from affected site by a culture or non-culture basedmicrobiologic testing method, which is performed for purposes of clinical diagnosis or treatment
                            </label>
                        </div>

                    <div>
                            <label class="form-check-label">
                                <input class="form-check-input group1" type="checkbox" asp-for="PatientAbscess" />
                                Patient has an abscess or other evidence of infection on gross anatomical exam, during invasive procedure, or onhistopathologic exam
                            </label>
                        </div>
                </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered" style="display: none;" id="group2">
                <thead>
                    <tr>
                        <th colspan="2">Patient has one (1) of the following signs or symptoms:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                <div>
                            <label class="form-check-label">
                                <input class="form-check-input group2" type="checkbox" asp-for="Fever1" />
                                Fever (>38.0°C)
                            </label>
                        </div>

                <tdivd>
                            <label class="form-check-label">
                                <input class="form-check-input group2" type="checkbox" asp-for="LocalizedPain" />
                                Localized pain or tenderness*, AND at least one of the following:
                            </label>
                        </tdivd>
                <div>
                            <label class="form-check-label indent-child">
                                <input class="form-check-input group2" type="checkbox" asp-for="PurulentDrainage" />
                                Purulent drainage from affected site
                            </label>
                        </div>

                <div>
                            <label class="form-check-label indent-child">
                                <input class="form-check-input group2" type="checkbox" asp-for="Organism" />
                                Organism(s) identified from blood by a culture or non-culture-based microbiologic testing method, AND imaging test evidence definitive for infection (for example, ultrasound, CT scan, MRI, or radiolabel scan [gallium, technetium]), which if equivocal is supported by clinical correlation, specifically, physician documentation of antimicrobial treatment for urinary system infection
                            </label>
                        </div>
                </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered" style="display: none;" id="group3">
                <thead>
                    <tr>
                        <th colspan="2">Group 3: Select at least one</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input group3" type="checkbox" asp-for="PatienLessthan1year" />
                                Patient ≤1year of age has at least one of the following signs or symptoms:
                            </label>
                        </div>
                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input group3" type="checkbox" asp-for="Fever2" />
                                Fever (>38.0°C)
                            </label>
                        </div>

                <div>
                            <label class="form-check-label">
                                <input class="form-check-input group3" type="checkbox" asp-for="Hypothermia" />
                                Hypothermia (>36.0°C)
                            </label>
                        </div>

                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" asp-for="Apnea" />
                                @Html.DisplayNameFor(model => model.Apnea)
                            </label>
                        </div>

                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" asp-for="Bradycardia" />
                                @Html.DisplayNameFor(model => model.Bradycardia)
                            </label>
                        </div>

                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" asp-for="Lethargy" />
                                @Html.DisplayNameFor(model => model.Lethargy)
                            </label>
                        </div>
            
                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" asp-for="Vomiting" />
                                @Html.DisplayNameFor(model => model.Vomiting)
                            </label>
                        </div>
              
                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" asp-for="PurulentDrainage2" />
                                Purulent drainage from affected site
                            </label>
                        </div>
            
                        <div>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" asp-for="Organism2" />
                                Organism(s) identified from blood by a culture or non-culture based microbiologic testing method, AND imaging test evidencedefinitive for infection (for example, ultrasound, CT scan, magnetic resonance imaging [MRI], or radiolabel scan [gallium, technetium]), which if equivocal is supported by clinical correlation, specifically, physician documentation of antimicrobial
                                treatment for urinary system infection
                            </label>
                        </div>
                        </td>
            </tr>
            <tr>
                <td>
                        <div>
                            <label asp-for="CultureDate" class="control-label"></label>
                            <input asp-for="CultureDate" class="form-control" />
                            <span asp-validation-for="CultureDate" class="text-danger"></span>
                        </div>
           
                        <div>
                            <label asp-for="CultureResults" class="control-label"></label>
                            <input asp-for="CultureResults" class="form-control" />
                            <span asp-validation-for="CultureResults" class="text-danger"></span>
                        </div>
                </td>
            </tr>
                    
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
 

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- JavaScript/jQuery to Control Group Display -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function toggleNextGroup(currentGroupClass, nextGroupId) {
                if ($("." + currentGroupClass + ":checked").length > 0) {
                    $(nextGroupId).show();
                } else {
                    $(nextGroupId).hide();
                    // Uncheck the next group when hiding
                    $(nextGroupId).find("input[type='checkbox']").prop("checked", false);
                }
            }

            // Monitor Group 1
            $(".group1").change(function () {
                toggleNextGroup("group1", "#group2");
            });

            // Monitor Group 2
            $(".group2").change(function () {
                toggleNextGroup("group2", "#group3");
            });
        });
    </script>

    <script>
        document.getElementById("dispositionSelect").addEventListener("change", function () {
            var dispositionValue = this.value;
            var transferField = document.getElementById("dispositionTransferField");

            // Show DispositionTransfer only if "Transferred In" or "Transferred Out" is selected
            if (dispositionValue === "Transferred In" || dispositionValue === "Transferred Out") {
                transferField.style.display = "table-cell"; // Show the field
            } else {
                transferField.style.display = "none"; // Hide the field
            }
        });
    </script>
}
