@model IPCU.Models.EvaluationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EvaluationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingDate" class="control-label"></label>
                <input asp-for="TrainingDate" class="form-control" />
                <span asp-validation-for="TrainingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceClassification" class="control-label"></label>
                <input asp-for="ServiceClassification" class="form-control" />
                <span asp-validation-for="ServiceClassification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalRating" class="control-label"></label>
                <input asp-for="FinalRating" class="form-control" />
                <span asp-validation-for="FinalRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowFollowed" class="control-label"></label>
                <input asp-for="FlowFollowed" class="form-control" />
                <span asp-validation-for="FlowFollowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RulesEstablished" class="control-label"></label>
                <input asp-for="RulesEstablished" class="form-control" />
                <span asp-validation-for="RulesEstablished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitiateDiscussion" class="control-label"></label>
                <input asp-for="InitiateDiscussion" class="form-control" />
                <span asp-validation-for="InitiateDiscussion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalCapability" class="control-label"></label>
                <input asp-for="TechnicalCapability" class="form-control" />
                <span asp-validation-for="TechnicalCapability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentOrganization" class="control-label"></label>
                <input asp-for="ContentOrganization" class="form-control" />
                <span asp-validation-for="ContentOrganization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectiveStated" class="control-label"></label>
                <input asp-for="ObjectiveStated" class="form-control" />
                <span asp-validation-for="ObjectiveStated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentQuality" class="control-label"></label>
                <input asp-for="ContentQuality" class="form-control" />
                <span asp-validation-for="ContentQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowOfTopic" class="control-label"></label>
                <input asp-for="FlowOfTopic" class="form-control" />
                <span asp-validation-for="FlowOfTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelevanceOfTopic" class="control-label"></label>
                <input asp-for="RelevanceOfTopic" class="form-control" />
                <span asp-validation-for="RelevanceOfTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticeApplication" class="control-label"></label>
                <input asp-for="PracticeApplication" class="form-control" />
                <span asp-validation-for="PracticeApplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningActivities" class="control-label"></label>
                <input asp-for="LearningActivities" class="form-control" />
                <span asp-validation-for="LearningActivities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisualAids" class="control-label"></label>
                <input asp-for="VisualAids" class="form-control" />
                <span asp-validation-for="VisualAids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresentKnowledge" class="control-label"></label>
                <input asp-for="PresentKnowledge" class="form-control" />
                <span asp-validation-for="PresentKnowledge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalancePrinciples" class="control-label"></label>
                <input asp-for="BalancePrinciples" class="form-control" />
                <span asp-validation-for="BalancePrinciples" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressClarifications" class="control-label"></label>
                <input asp-for="AddressClarifications" class="form-control" />
                <span asp-validation-for="AddressClarifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preparedness" class="control-label"></label>
                <input asp-for="Preparedness" class="form-control" />
                <span asp-validation-for="Preparedness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeachingPersonality" class="control-label"></label>
                <input asp-for="TeachingPersonality" class="form-control" />
                <span asp-validation-for="TeachingPersonality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstablishRapport" class="control-label"></label>
                <input asp-for="EstablishRapport" class="form-control" />
                <span asp-validation-for="EstablishRapport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespectForParticipants" class="control-label"></label>
                <input asp-for="RespectForParticipants" class="form-control" />
                <span asp-validation-for="RespectForParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoicePersonality" class="control-label"></label>
                <input asp-for="VoicePersonality" class="form-control" />
                <span asp-validation-for="VoicePersonality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeManagement" class="control-label"></label>
                <input asp-for="TimeManagement" class="form-control" />
                <span asp-validation-for="TimeManagement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SMELecturer" class="control-label"></label>
                <input asp-for="SMELecturer" class="form-control" />
                <span asp-validation-for="SMELecturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuggestionsForImprovement" class="control-label"></label>
                <input asp-for="SuggestionsForImprovement" class="form-control" />
                <span asp-validation-for="SuggestionsForImprovement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SayToSpeaker" class="control-label"></label>
                <input asp-for="SayToSpeaker" class="form-control" />
                <span asp-validation-for="SayToSpeaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
