@{
    ViewData["Title"] = "Take a Test";
}

<div class="container mt-5">
    <h2 class="text-center mb-4 text-primary fw-bold">NKTI-IPCU Basic Infection Prevention and Control (IPC) Training Evaluation</h2>
    <div class="row g-4">

        <div class="col-md-4">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Pre-Test</h5>
                    <p class="card-text text-muted">For Clinical And Allied Health Professionals</p>
                    <a asp-controller="Test" asp-action="Instructions" class="btn btn-outline-primary w-100">Take Test</a>
                </div>
            </div>
         </div>
        <div class="col-md-4">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Post-Test (Non-Clinical & Admin Staff)</h5>
                    <p class="card-text text-muted">For Non-Clinical and Administrative Staff</p>
                    <a asp-controller="Test" asp-action="Instructions2" class="btn btn-outline-primary w-100">Take Test</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Post-Test (Clinical & Allied Health)</h5>
                    <p class="card-text text-muted">For Clinical And Allied Health Professionals</p>
                    <a asp-controller="Test" asp-action="Physical" class="btn btn-outline-primary w-100">Take Test</a>
                </div>
            </div>
        </div>
    </div>
</div>